[submodule "data"]
	path = data
	url = git@github.com:alexisVallet/chardetect-data.git
[submodule "felzenszwalb-segmentation"]
	path = felzenszwalb-segmentation
	url = git@github.com:alexisVallet/felzenszwalb-segmentation.git
